@import "tailwindcss";

@font-face {
  font-family: "pixel";
  src:  url('/Silkscreen/slkscr.ttf') format('ttf'),
        url('/Silkscreen/slkscrb.ttf') format('ttf'),
        url('/Silkscreen/slkscre.ttf') format('ttf'),
        url('/Silkscreen/slkscreb.ttf') format('ttf');
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.pink {
  color: #E6BADC;
}

.body-text {
  margin: 3%;
}
